/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

div#postList {
  padding: 20px 10%;
}

#postList td:first-child, #postList td:last-child {padding: 1% 3%;}

#mainPage > h1 {
  text-align: center;
}

#postList th {
  text-align: center;
}

#postList td {
  text-align: center;
}